/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

*, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 80px;
  height: 40px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 12px;
  box-shadow: 0 8px 28px -6px rgba(24, 39, 75, 0.12),
  0 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.init-counter-input {
  position: relative;
  padding: 0 10px;
  outline-style: none;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 24px;
}

/* 去掉默认的数字输入框的箭头 */
.init-counter-input::-webkit-inner-spin-button, .init-counter-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.init-counter-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.center {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.counter-line {
  font-size: 36px;
}
